@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #251027;
    background: -webkit-linear-gradient(to top #3f2455, #251027);
    background: linear-gradient(to top, #482455, #251027);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
  }
}